$break-xs: 360px;
$break-sm: 480px;
$break-md: 768px;
$break-lg: 1024px;
$break-xl: 1280px;
$break-2xl: 1440px;

@mixin xs { @media (max-width: $break-xs) { @content; } }
@mixin sm { @media (max-width: $break-sm) { @content; } }
@mixin md { @media (max-width: $break-md) { @content; } }
@mixin lg { @media (max-width: $break-lg) { @content; } }
@mixin xl { @media (max-width: $break-xl) { @content; } }
