.chart {
  background: #fff;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,.06);
  min-height: 360px;
  margin-top: 10px;
  h3 {
    margin-bottom: 1rem;
    font-size: 1.1rem;
    font-weight: 500;
    color: #1b4e74;
    text-align: center;
  }

  .chart-wrapper {
    position: relative;
    height: 280px;
  }
}
