@use '../abstracts/variables' as *;

.page-header {
  margin-bottom: $spacing-5;
  padding-bottom: $spacing-5;
  border-bottom: 2px solid #f1f5f9;

  .header-info {
    h1 {
      font-size: 1.85rem;
      font-weight: 800;
      color: #1e293b;
      margin: 0;
      letter-spacing: -0.5px;
      position: relative;
      display: inline-block;

      &::after {
        content: '';
        position: absolute;
        bottom: -10px;
        left: 0;
        width: 120px;
        height: 4px;
        background: #38bdf8;
        border-radius: 10px;
      }
    }

    p {
      margin-top: 20px;
      color: #64748b;
      font-size: 1rem;
      font-weight: 400;
    }
  }
}
